@model IEnumerable<Controle_Imob_Clientes.Models.Imobiliaria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutImobClientes.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaginaWeb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerfilInstagram)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaginaWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerfilInstagram)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.imobiliariaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.imobiliariaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.imobiliariaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
